h5{
    font-weight: bold;
    margin-bottom: .1em;
}
h1{
    color: #0F4C75;
}
.sidePanel{
    background-color: #0F4C75;
    color: white;
}
.socials{
    /* border: solid blue; */
    width: 60%;
    height: 40px;
}
.socials img{
    /* width: %; */
}
.email{
    filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(125deg) brightness(104%) contrast(104%);
    width: 20%;
}
.linkedin{
    width: 18%;
}

.mainContent{
    background-color: #D6E6F2;
}
.mainTitle{
    margin-bottom: 28%;
    font-weight: bold;
}
.versionBadge{
    /* border: solid red; */
    font-size: large;
}
.profPic{
    width: 40%;
}
.fastFacts{
    list-style-type: none;
}
.badge{
    background-color: #0F4C75;
}
.projectTitle{
    text-decoration: underline;
    font-weight: bold;
}
.btn{
    background-color: #0F4C75;
}
.btn:hover{
    background-color: #135f91;
}
.hover{
    transition: .5s;
}
.hover:hover{
    transform: translateY(-.3em);
    transition: .5s;
}